*.o
ot-recorder
ocat
*.dSYM
.DS_Store
store/
jpm-test/
config.mk
obsolete/
codesign.sh
sundry/
kick*.sh
/debian/*\.debhelper
/debian/*\.debhelper.log
/debian/debhelper.log
/debian/*\.substvars
/debian/files
public/static/config/custom.js
