
/*
 * 1	=> 5,009.4km x 4,992.6km
 * 2	=> 1,252.3km x 624.1km
 * 3	=> 156.5km x 156km
 * 4	=> 39.1km x 19.5km
 * 5	=> 4.9km x 4.9km
 * 6	=> 1.2km x 609.4m
 * 7	=> 152.9m x 152.4m
 * 8	=> 38.2m x 19m
 * 9	=> 4.8m x 4.8m
 * 10	=> 1.2m x 59.5cm
 */

#define GEOHASH_PREC	(7)

/*
 * Google Maps reverse geocoding URL.
 * If you need to use an API KEY, change the scheme to "https:"
 * and add "&key=xxxxx" to the end of this URL
 */

#define GURL "http://maps.googleapis.com/maps/api/geocode/json?latlng=%lf,%lf&sensor=false&language=EN"

/*
 * How many hours back should `ocat' display data by default
 */

#define DEFAULT_HISTORY_HOURS 6
