/*
 * Google Maps reverse geocoding URL.
 * If you need to use an API KEY, change the scheme to "https:"
 * and add "&key=xxxxx" to the end of this URL
 */

#define GURL "http://maps.googleapis.com/maps/api/geocode/json?latlng=%lf,%lf&sensor=false&language=EN"

/*
 * How many hours back should `ocat' display data by default
 */

#define DEFAULT_HISTORY_HOURS 6

/*
 * Indented JSON or not? Choose.
 */

#define JSON_INDENT	" "	/* indented */
// #define JSON_INDENT	NULL	/* not indented */
