{
	"page" : "xmap.html",
	"user" : "jjolie",
	"device" : "phone",
	"from" : "2015-04-26",
	"to"   : "2015-09-19",

	"label" : "Jane Jolie",
	"zoom" : 7,

	"auth" : "08d7ae5f231e86893fcda52546e150d6"

}
