# /etc/systemd/system/ot-recorder.service
#	systemctl enable ot-recorder
#	systemctl start ot-recorder
#	systemctl --system daemon-reload
#	journalctl -f
[Unit]
Description=OwnTracks Recorder

[Service]
Type=simple
User=owntracks
WorkingDirectory=/
# deprecated: use config file
# 	Environment='OTR_USER=xxx'
ExecStart=/usr/local/sbin/ot-recorder
Restart=always
RestartSec=60
StandardOutput=null
StandardError=syslog
SyslogIdentifier=ot-recorder

[Install]
WantedBy=multi-user.target
